
@model ProyectoOL.Dto.UserDto
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/LoginUser.cshtml";
}

<div class="welcome-container">
    @if (Model.Id_Usuario == 1)
    {
        <h3 class="welcome-title">Bienvenido Administrador</h3>
    }
    else if (Model.Id_Usuario == 2)
    {
        <h3 class="welcome-title">Bienvenido Bibliotecario</h3>
    }
    else
    {
        <h3 class="welcome-title">Bienvenido Usuario</h3>
    }

    <h4 class="welcome-name">@Html.DisplayFor(model => model.Nombre)</h4>
</div>


