USE [master]
GO
/****** Object:  Database [OLDB]    Script Date: 8/11/2023 20:16:45 ******/
CREATE DATABASE [OLDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OLDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.OPENLIBRARYDB\MSSQL\DATA\OLDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OLDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.OPENLIBRARYDB\MSSQL\DATA\OLDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OLDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OLDB]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 8/11/2023 20:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[ID_AUDITORIA] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](20) NOT NULL,
	[ACCION] [varchar](50) NOT NULL,
	[TABLA] [varchar](15) NOT NULL,
	[CAMPO] [varchar](40) NOT NULL,
	[VALOR_ANTERIOR] [nvarchar](255) NULL,
	[VALOR_NUEVO] [nvarchar](255) NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[ID_AUDITORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAT_ESTADO]    Script Date: 8/11/2023 20:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAT_ESTADO](
	[ID_ESTADO] [smallint] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CAT_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAT_GENERO]    Script Date: 8/11/2023 20:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAT_GENERO](
	[ID_GENERO] [smallint] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CAT_GENERO] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAT_LIBRO]    Script Date: 8/11/2023 20:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAT_LIBRO](
	[ID_LIBRO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_LIBRO] [nvarchar](50) NOT NULL,
	[AUTOR] [nvarchar](100) NULL,
	[FECHA] [nvarchar](10) NULL,
	[FK_GENERO] [smallint] NULL,
	[FK_ESTADO] [smallint] NOT NULL,
	[IMAGEN] [nvarchar](255) NOT NULL,
	[PDF] [nvarchar](255) NOT NULL,
	[SINOPSIS] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_CAT_LIBRO] PRIMARY KEY CLUSTERED 
(
	[ID_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAT_TIPO_DOCUMENTO]    Script Date: 8/11/2023 20:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAT_TIPO_DOCUMENTO](
	[ID_TIPO_DOCUMENTO] [smallint] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CAT_TIPO_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAT_TIPO_USUARIO]    Script Date: 8/11/2023 20:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAT_TIPO_USUARIO](
	[ID_TIPO_USUARIO] [smallint] IDENTITY(1,1) NOT NULL,
	[DESCRPCION] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CAT_TIPO_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PANTALLA]    Script Date: 8/11/2023 20:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PANTALLA](
	[ID_PANTALLA] [int] IDENTITY(1,1) NOT NULL,
	[PANTALLA] [varchar](255) NOT NULL,
	[MONITOR] [varchar](255) NOT NULL,
	[FK_USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_PANTALLA] PRIMARY KEY CLUSTERED 
(
	[ID_PANTALLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 8/11/2023 20:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRE_USUARIO] [varchar](20) NOT NULL,
	[FK_TIPO_DOCUMENTO] [smallint] NOT NULL,
	[FK_TIPO_USUARIO] [smallint] NOT NULL,
	[FK_ESTADO] [smallint] NOT NULL,
	[NOMBRE] [varchar](60) NOT NULL,
	[APELLIDO] [varchar](60) NOT NULL,
	[CONTRASENA] [varchar](255) NOT NULL,
	[CORREO_ELECTRONICO] [varchar](45) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAT_LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_CAT_LIBRO_CAT_ESTADO] FOREIGN KEY([FK_ESTADO])
REFERENCES [dbo].[CAT_ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[CAT_LIBRO] CHECK CONSTRAINT [FK_CAT_LIBRO_CAT_ESTADO]
GO
ALTER TABLE [dbo].[CAT_LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_CAT_LIBRO_CAT_GENERO] FOREIGN KEY([FK_GENERO])
REFERENCES [dbo].[CAT_GENERO] ([ID_GENERO])
GO
ALTER TABLE [dbo].[CAT_LIBRO] CHECK CONSTRAINT [FK_CAT_LIBRO_CAT_GENERO]
GO
ALTER TABLE [dbo].[PANTALLA]  WITH CHECK ADD  CONSTRAINT [FK_PANTALLA_USUARIO] FOREIGN KEY([FK_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PANTALLA] CHECK CONSTRAINT [FK_PANTALLA_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CAT_ESTADO] FOREIGN KEY([FK_ESTADO])
REFERENCES [dbo].[CAT_ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_CAT_ESTADO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CAT_TIPO_DOCUMENTO] FOREIGN KEY([FK_TIPO_DOCUMENTO])
REFERENCES [dbo].[CAT_TIPO_DOCUMENTO] ([ID_TIPO_DOCUMENTO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_CAT_TIPO_DOCUMENTO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_CAT_TIPO_USUARIO] FOREIGN KEY([FK_TIPO_USUARIO])
REFERENCES [dbo].[CAT_TIPO_USUARIO] ([ID_TIPO_USUARIO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_CAT_TIPO_USUARIO]
GO
USE [master]
GO
