
@{
    ViewBag.Title = "Digital";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1 class="mt-4 text-center" style="font-style: italic;">Open Library</h1>


    <!-- Barra de búsqueda -->
    <div class="input-group my-4">
        <input type="text" class="form-control rounded-pill" placeholder="Buscar libros">
        <button class="btn btn-primary" type="button">Buscar</button>
    </div>

    <!-- Diseño de tarjetas (4 columnas y 3 filas) -->
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="imagen-libro-1.jpg" class="card-img-top" alt="Libro 1">
                <div class="card-body">
                    <h5 class="card-title">Libro 1</h5>
                    <p class="card-text">Descripción del libro 1.</p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="imagen-libro-2.jpg" class="card-img-top" alt="Libro 2">
                <div class="card-body">
                    <h5 class="card-title">Libro 2</h5>
                    <p class="card-text">Descripción del libro 2.</p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="imagen-libro-3.jpg" class="card-img-top" alt="Libro 3">
                <div class="card-body">
                    <h5 class="card-title">Libro 3</h5>
                    <p class="card-text">Descripción del libro 3.</p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img src="imagen-libro-4.jpg" class="card-img-top" alt="Libro 4">
                <div class="card-body">
                    <h5 class="card-title">Libro 4</h5>
                    <p class="card-text">Descripción del libro 4.</p>
                    <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>