@model ProyectoOL.Dto.UserDto

@{
    ViewBag.Title = "Registrar usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Agrega la fuente 'Josefin Sans' al encabezado HTML */
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans" >

    body, h1, p {
        font-family: 'Josefin Sans', sans-serif;
    }

    .espacio-vertical {
        margin-bottom: 3rem; /* Espacio vertical entre la imagen y el texto */
    }

    .descripcion {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 25px; /* Tamaño de la fuente para la descripción */
    }
    .libray{
        margin-top: 3rem;
    }

    .imagen-container {
        position: relative;
    }

        .imagen-container img {
            cursor: pointer;
            transition: transform 0.3s;
        }

        .imagen-container.expandida img {
            transform: scale(1.2);
        }
</style>

<section class="cuerpo_registro">
    <div class="container">
        <div class="libray">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="titulo-josefin">Open Library - Biblioteca Digital</h1>
                <p class="texto-josefin-bold descripcion">
                    Open Library es una innovadora biblioteca en  línea que utiliza la plataforma .NET para brindar a los amantes de la lectura una experiencia única. Esta plataforma revoluciona la forma en que disfrutamos de los libros, permitiéndonos acceder a ellos de manera cómoda y eficiente. A través de Open Library, los usuarios pueden explorar y adquirir libros en línea, demostrando cómo la tecnología puede mejorar la gestión y accesibilidad de los tesoros literarios en la era digital.
                </p>
            </div>
            <div class="col-md-12 text-center espacio-vertical">
                <div class="imagen-container">
                    <img src="https://i.imgur.com/82PHcgo.jpg" alt="Imagen de Open Library" width="500" />
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // Script para hacer que la imagen se expanda brevemente al hacer clic
    const imagenContainer = document.querySelector(".imagen-container");
    const imagen = imagenContainer.querySelector("img");

    imagen.addEventListener("click", function () {
        imagenContainer.classList.add("expandida");
        setTimeout(() => {
            imagenContainer.classList.remove("expandida");
        }, 250); // Ajusta el tiempo en milisegundos.
    });
</script>
