@{
    ViewBag.Title = "Home Page";
}

<main>
    <img src="~/Views/Images/biblioteca.jpg" alt="Imagen de una biblioteca"/>
    <section class="block_grey">
        <h1 class="title">Open Library</h1>
        <p>Open Library es una aplicación web que permite el manejo de los libros en una biblioteca, partiendo de que pueden haber tanto libros físicos para su préstamo, como libros digitales cuyo fin es ser vendidos, permitiendo asi que el seguimiento de los libros y la persona que lo tenga</p>
    </section>

</main>