@{
    ViewBag.Title = "Home Page";
}

<main>
        <section class="container_imagen_biblioteca block_grey">
            <img class="imagen_biblioteca" src="~/Images/biblioteca.png" alt="Imagen de una biblioteca" />
            <h1 class="titulo" >¿Qué es Open Library?</h1>
            <p class="parrafo">Open Library es una aplicación web que permite el manejo de los libros en una biblioteca, partiendo de que pueden haber tanto libros físicos para su préstamo, como libros digitales cuyo fin es ser vendidos, permitiendo asi que el seguimiento de los libros y la persona que lo tenga</p>
        </section>
</main>