.foot_container {
    align-items: center;
    background-color: #7C6460;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.foot_contact {
    font-family: Josefin Sans, italic;
    font-weight: 600;
    color: #F0ECE9;
}

.copy {
    font-family: Josefin Sans, italic;
    font-weight: 600;
    color: #F0ECE9;
}


