.menu {
    height: 5rem;
    background-color: #29282D;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_login {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu_login_item {
    text-decoration: none;
    color: #F0ECE9;
    margin-right: 1rem;
    font-family: Josefin Sans, italic;
    font-weight: 600;
}

.menu_login_item:hover {
    color: #6768AB;
}


/* Alineación vertical del nav */
nav {
    display: flex;
    align-items: center;
}
