.container_imagen_biblioteca{
    display: block;
    position: center;
    margin: 0;
}

.imagen_biblioteca{
    width: 100%;
    margin: 0;
}

.block_grey {
    margin: 0 0 0 0;
    background-color: #625C60;
}

.titulo {
    font-family: Josefin Sans, italic;
    font-weight: 800;
    font-size: 3rem;
    text-decoration: none;
    color: #F0ECE9;
    text-align: center;
    margin-top: 2rem;;
}

.parrafo {
    font-family: Josefin Sans, italic;
    color: #F0ECE9;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 4rem 0 4rem;
    padding-bottom: 5rem;
}