/* Estilo del formulario */
.cuerpo_registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* La sección ocupa toda la altura disponible */
    width: 100%;
    /* La sección ocupa toda la pantalla del usuario */
    background-color: #DBD3D0;
    min-height: 92vh
}

/* Estilo de los campos y etiquetas */
.espacio_registro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.control-label {
    font-weight: bold;
    text-align: right;
    /* Alinea el texto a la izquierda */
    color: #333;
    /* Cambia el color del texto de las etiquetas */
    margin-right: 30px;
}

.form-control {
    width: 50%;
    /* El campo toma el 50% del ancho disponible */
    padding: 10px;
}

/* Resto de los estilos (botones, enlaces, etc.) igual que en tu código anterior */
.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-cancelar {
    background-color: #ccc;
    color: #333;
}

.btn-cancelar:hover {
    background-color: #999;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.custom-space {
    color: #6768AB;
    font-size: 16px;
    /* Tamaño de la fuente */
    margin-bottom: 10px;
    /* Margen inferior */
    font-weight: 700;
    min-width: 20%;
}

.buttons {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}